<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Donate</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/donate.css">
</head>

<body>
    <%- include('partials/header') %>
        <div class="donate-container">

            <p class="donate-header">DONATE TO MAKE A <span>DIFFERENCE</span></p>
            <div class="donate-head">
                <div class="img-sec">

                    <div class="donate-image">
                        <img class="img-class" src="/assets/gifts.svg">
                    </div>
                </div>
                <div class="donate-content-container">
                    <h3 class="content-heading">THANKYOU FOR CHOOSING DONATIONALY</h3>
                    <p class="donate-content">The team here at Donationaly truly appreciate the gravity of the
                        contibution you're making. From our end we'll make sure that we deliver the best of the best to
                        the society. From you, all we ask is continued support. Do check in with us once in a while, if
                        you'd like to find out more about what we do!</p>
                    <p class="content-closing">Together, we make a lot of difference!</p>
                </div>
            </div>
            <div class="img-text">
                <p class="well-idk">Be the reason behind such beautiful smiles!</p>
            </div>
            <div class="donate-form">
                <form action="/donate" method="POST">
                    <p id="id_val_buttons">
                        <label><input type="radio" name="val_buttons" value="1000"><span>₹1000</span></label>
                        <label><input type="radio" name="val_buttons" value="2000"><span>₹2000</span></label>
                        <label><input type="radio" name="val_buttons" value="3000"><span>₹3000</span></label>
                        <label><input type="radio" name="val_buttons" value="4000"><span>₹4000</span></label>
                        <label><input type="radio" name="val_buttons" value="5000"><span>₹5000</span></label>
                    </p>
                    <div class="inputs-class">
                        <input name="amount" id="amount" class="inputs" type="number" placeholder="Amount In Rupees(₹)" value=""><br>
                        <input name="name" class="inputs" type="text" placeholder="Name" value= <%= currentUser.username %> ><br>
                        <input name="email" class="inputs" type="email" placeholder="Email Address" value= <%= currentUser.email %> ><br>
                        <input name="phone" class="inputs" type="text" placeholder="Phone" value= <%= currentUser.contactno %> ><br>
                        <input name="address" class="inputs" type="text" placeholder="Address">
                    </div>
                    <p class="Exemption">
                        In accordance with the Finance Act 2020, 80G Tax Exemption is received on providing PAN card
                        details of the donor. Please share your PAN details below to receive the receipt. If not
                        provided receipt will not be shared.
                    </p>
                    <div class="inputs-class">
                        <input name="pan" class="inputs" type="text" placeholder="PAN Number"><br>
                    </div>
                    <button class="donate-button" type="submit">DONATE</button>
                </form>
            </div>
        </div>
        <script>
            if (document.querySelector('input[name="val_buttons"]')) {
                document.querySelectorAll('input[name="val_buttons"]').forEach((elem) => {
                    elem.addEventListener("change", function (event) {
                        var item = event.target.value;
                        document.getElementById("amount").value=item;
                    });
                });
            }
            
        </script>
        <%- include('partials/footer') %>
</body>

</html>