<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This website is to help NGOs get Volunteer and Funds. Charity.">
    <title>Charity</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://kit.fontawesome.com/2b6852e4e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('partials/header') %>
        <!-- <div class="title_1">
            <div class="animated fadeIn">
                <h1>It's Never Too Late to <br>make a difference.</h1>
                <button class="btn third">Donate Now</button>
            </div>
        </div> -->
        <div class="main-div">

            <div class="left-div">
                <div class="animated fadeIn">
                    <h1>It's Never Too Late to <br>make a difference.</h1>
                    <a href="/donate">
                        <button class="btn third">Donate Now</button>
                    </a>

                </div>


            </div>
            <div class="image-div">
                <img src="assets/donate.jpg" alt="">

            </div>

        </div>

        <div class="types_of_users">
            <div class="card grow">
                <a href="/volunteer"><img src="assets/volunteer.png" alt="Avatar"></a>

                <h1><b>Volunteer with us</b></h1>
                <p>Your help can bring change.</p>
            </div>
            <div class="card grow">
                <a href="/registerNgo"><img src="assets/ngo.png" alt="Avatar"></a>

                <h1><b>Register as an NGO</b></h1>
                <p>Work for a better cause</p>
            </div>
            <div class="card grow">

                <a class="button" href="#popup1"><img src="assets/search.png" alt="Avatar"></a>


                <h1><b>Search for an NGO</b></h1>
                <p>Contribute to the cause you believe in and make a difference</p>
            </div>
            <div class="card grow">
                <a href="/donate"><img src="assets/donation.jpg" alt="Avatar"></a>

                <h1><b>Donate for a cause</b></h1>
                <p>Giving is the greatest act of grace.</p>
            </div>
            



            <!-- modal html -->
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Search</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        <input type="text" name="search" value="" id="phrase">
                        <button type="button" name="button" id="send"><i class="fas fa-search"></i></button>

                        <div id="results">
                            <h3>Search results will appear below</h3>
                            <img src="assets/search_results.svg" alt="" width="200" height="200"
                                style="margin-left: 20%;">

                        </div>
                    </div>
                </div>
            </div>







        </div>

        <div class="attractions">
            <div class="custom-shape-divider-top-1615984118">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>

            <div class="slogan">
                <h1>Giving is Virtue.</h1>
                The measure of a life, after all, is not its duration, but its donation.
            </div>
            <hr width="20%" style="height: 2px; background: orangered;">
            <div class="photoscol">
                <div class="photosrow">
                    <img src="https://oyako-de-egao.com/wp-content/uploads/2020/12/photo-1488521787991-ed7bbaae773c-2-768x512.jpeg"
                        width="80%" style="border-radius: 5%;">
                </div>
                <div class="photosrow">
                    <img src="https://i.pinimg.com/564x/a8/53/3a/a8533a18540af2855da5cc9e0d335604.jpg"
                        style="border-radius: 50%;">
                    <img src="https://i.pinimg.com/564x/f1/57/37/f157372118d1f771e05baa3730259f2c.jpg"
                        style="border-radius: 50%;">
                </div>
            </div>

        </div>

        <div class="ngos">
            <div class="custom-shape-divider-top-1615984118">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>

            <div class="slogan">
                <h1>NGOs.</h1>
                Service to others is the rent you pay for your room here on earth.
            </div>
            <hr width="20%" style="height: 2px; background: orangered;">

            <div class="ngo-horizontal">
                <% Ngo.forEach(function(ngo){ %>
                    <div class="ngo-content">
                        <img src="<%= ngo.image %>" alt="John" style="width:100%">
                        <h1><%= ngo.name %></h1>
                        <!-- <p class="title"><%= ngo.username %></p> -->
                        <p><%= ngo.description %></p>
                        <p><a href="/donate"><button>Donate now</button></p></a>
                      </div>
                    <!-- <div class="ngo-content">
                        <div class="img"><img src="<%= ngo.image %>" class="img-fluid"></div>
                        <div class="caption">
                                <%= ngo.name %>
                        </div>
                        <p>
                            <%= ngo.description %>
                            <a href="">More Info</a>
                        </p>
                    </div> -->

                    <% }); %>
            </div>
        </div>


        <div class="video">
            <div class="custom-shape-divider-top-1615984118">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
            <h1>Imagine the world if 600 million girls unlocked their power?</h1>
            It’s time to put girls in control. When we do, everyone wins.
            <hr width="20%" style="height: 2px; background: orangered;">
            <br>
            <iframe width="63%" height="66.3%" src="https://www.youtube.com/embed/1e8xgF0JtVg">
            </iframe>
        </div>
        <div class="LCC">
            <div class="card">
                <h1><b>love</b></h1>
                <p>We can only learn to love by loving</p>
            </div>
            <div class="card">
                <h1><b>compassion</b></h1>
                <p>Action word with no boundaries</p>
            </div>
            <div class="card">
                <h1><b>charity</b></h1>
                <p>Your greatness is not what you have, it's what you give</p>
            </div>
        </div>
        <div class="gallery">
            <div class="custom-shape-divider-top-1615984118">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                        class="shape-fill"></path>
                </svg>
            </div>
            <h1>Our Gallery.</h1>
            The Purest of Hearts.
            <hr width="20%" style="height: 2px; background: purple;">
            <div class="grid-container">
                <div>
                    <img class='grid-item'
                        src='https://images.unsplash.com/photo-1473280025148-643f9b0cbac2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=755&q=80'
                        alt=''>
                    <p>"I'm so happy today!"</p>
                </div>
                <div>
                    <img class='grid-item'
                        src='https://images.unsplash.com/photo-1506370612293-360919ece3d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=740&q=80'
                        alt=''>
                    <p>"I see you!."</p>
                </div>
                <div>
                    <img class='grid-item'
                        src='https://images.unsplash.com/photo-1507427254987-7be33d0321d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80'
                        alt=''>
                    <p>"Little feet, big hearts!"</p>
                </div>

            </div>
            <a href="/gallery"><button class="btn third">See Gallery</button></a>
        </div>


        <%- include('partials/footer') %>
            <script>
                const slider = document.querySelector('.ngo-horizontal');
                let isDown = false;
                let startX;
                let scrollLeft;

                slider.addEventListener('mousedown', (e) => {
                    isDown = true;
                    slider.classList.add('active');
                    startX = e.pageX - slider.offsetLeft;
                    scrollLeft = slider.scrollLeft;
                });
                slider.addEventListener('mouseleave', () => {
                    isDown = false;
                    slider.classList.remove('active');
                });
                slider.addEventListener('mouseup', () => {
                    isDown = false;
                    slider.classList.remove('active');
                });
                slider.addEventListener('mousemove', (e) => {
                    if (!isDown) return;
                    e.preventDefault();
                    const x = e.pageX - slider.offsetLeft;
                    const walk = (x - startX) * 3; //scroll-fast
                    slider.scrollLeft = scrollLeft - walk;
                    console.log(walk);
                });
            </script>
</body>

<script type="text/javascript">


    function addResults(result) {
        $("#results").replaceWith('<div id="results"></div>')
        $("#results").append(`<h4>Name: ${result.name} </h4> <p>Email Address: ${result.username} </p>`)
    };

    function getResults(phrase) {
        phrase = phrase.phrase;
        console.log(`http://localhost:3000/messages/${phrase}`);
        $.get(`http://localhost:3000/messages/${phrase}`, (data) => {
            console.log(data[0].name);
            data.forEach(addResults)
        })
    };



    $(() => {
        $("#send").click(() => {

            console.log($("#phrase").val());
            getResults({
                phrase: $("#phrase").val()
            });
        })
    })

</script>

</html>